<nav [class]="helper.Wrap + ' hidden lg:inline-grid'">

  <a href="javascript:;" [class]="helper.Menu" (click)="test0()">
    <i [class]="helper.Icon + ' fa-upload'"></i>
    <strong>Upload</strong>
  </a>

  <a href="javascript:;" [class]="helper.Menu" (click)="test1()">
    <i [class]="helper.Icon + ' fa-save'"></i>
    <strong>Save</strong>
  </a>

  <a href="javascript:;" [class]="helper.Menu" (click)="test2()">
    <i [class]="helper.Icon + ' fa-cancel'"></i>
    <strong>Cancel</strong>
  </a>

</nav>