<h1 class="text-3xl font-bold underline">
    Welcome page and Tailwind works !!!
</h1>

<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">

    <ul *ngIf="(auth.user$ | async) as user">
        <li>{{ user.nickname }}</li>
        <li>{{ user.name }}</li>
        <li>{{ user.picture }}</li>
        <li>{{ user.updated_at }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.email_verified }}</li>
        <li>{{ user.sub }}</li>
    </ul>

    <br>

    <p>{{ token$ | async }}</p>

    <br>

    <button (click)="auth.logout()">Sign out</button>

</ng-container>

<ng-template #loggedOut>
    <button (click)="auth.loginWithRedirect()">Sign in</button>
</ng-template>

<p class="text-center my-5">
    <i class="fa-solid fa-bomb fa-2x"></i> {{dayOfTheWeek}}
</p>

<p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste unde fugit fugiat corrupti dolor veritatis natus rem quam, nihil, nesciunt cupiditate sapiente laborum quaerat in sunt quos soluta quidem dolore!</p>

<br>

<p class="tertiary-text-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quasi, odio nobis omnis aliquam quo hic, nostrum libero tempore nemo laboriosam illum dicta mollitia repudiandae. Commodi, quos maiores. Soluta, rerum.</p>

<br>

<p class="semibold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis reiciendis veniam nam dignissimos, earum suscipit dolorum architecto placeat aspernatur ratione enim est, sequi accusamus. Alias fugit non vitae eos ipsa?</p>

<br>

<strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ad suscipit consequuntur modi perspiciatis ullam recusandae ut. Similique ipsam, consequatur sunt voluptas illum hic adipisci repellat harum aspernatur molestias deleniti</strong>

<br>

<div class="columns-3 mt-2">
    <div
        class="tertiary-bg-color text-white text-center py-4 mb-3"
        *ngFor="let n of (oneToFifth$ | async); index as i">
            {{ i }} - {{ n }}
    </div>
</div>

