@tailwind base
@tailwind components
@tailwind utilities

/*-------------------------------------------*/

.light
    font-weight: 300

*
    font-weight: 400

.semibold
    font-weight: 600

.bold,strong
    font-weight: 700

/*-------------------------------------------*/

.primary-text-color
    color: #f8b199

.primary-bg-color
    background-color: #f8b199

/*-------------------------------------------*/

.secondary-text-color
    color: #fff0b9

.secondary-bg-color
    background-color: #fff0b9

/*-------------------------------------------*/

.tertiary-text-color
    color: #ff4400

.tertiary-bg-color
    background-color: #ff4400

/*-------------------------------------------*/
