@tailwind base
@tailwind components
@tailwind utilities

/*-------------------------------------------*/

.light
    font-weight: 300

*
    font-weight: 400

.semibold
    font-weight: 600

.bold,strong
    font-weight: 700

/*-------------------------------------------*/

.primary-text-color
    color: red

.primary-bg-color
    background-color: red

/*-------------------------------------------*/

.secondary-text-color
    color: blue

.secondary-bg-color
    background-color: blue

/*-------------------------------------------*/

.tertiary-text-color
    color: green

.tertiary-bg-color
    background-color: green

/*-------------------------------------------*/
